<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

	<appSettings>
		<add key="useSsl" value="False"/>
		<!-- for local server -->
		<add key="defaultIP" value="127.0.0.1"/>
		<add key="defaultPort" value="10000"/>
		<!-- for remote server -->
		<!--
		<add key="defaultIP" value="212.191.92.88"/>
		<add key="defaultPort" value="51410"/>
		-->
	</appSettings>
	
</configuration>